.container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    background-color: #343a40;
}

#map{
    height: 630px;
    width: 100%;
    margin:5px;
    position: relative;
    z-index: 1;

}

.filter{
    width: 25%;
    height: 630px;
    display: block;
    position: relative;
    top: 45px;
    padding-left: 4px;
    display: none;
    
}

#filter_icon{
    z-index: 2;
    position: absolute;
    top:12.5px;
    left: 1%;
    width: 3%;
    height: 32px;
    background-color: #343a40;
    border: 0;
    align-content: center;
    z-index: 2;
}


.fas{
    font-size: 30px;
    position: relative;
    right: 4px;
    color: #70D83B;
    
}

.change_map{
    width: 75;
}

.change_filter{
    width: 25%;
    display: block;
}



.search{
    border: 0;
    border-radius: 2px;
    height: 30px;
    width: 100%;
}
ul{
    width: 98%;
    align-items: center;

    
}
li{
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    right: 40px;
    overflow: hidden;
    background-color: #70D83B;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    height: 20px;
    align-items: center;
    padding-left: 5px;

}

li:hover{
    cursor: pointer;
}